.column-adjust{
  padding-left: 10px !important;
  padding-right: 10px !important;
  
}

.row-adjust {
  height: 100%;
  width: 100%;
  margin: 0;
}

.v-spacing-small {
  margin-bottom: 10px !important;
}

.moveleft {
  align-content: center;
  padding-left: 40px
}

.head {
  padding-top: 10px;
}

.padding-adjust {
  padding-right: 30px;
  padding-bottom: 20px;
  border-left: #E5E5E5;
  border-left-style: solid;
  border-left-width: 1px;
}

.destroy-padding {
  padding: 0 !important;
}