
.logo {
  padding: 7px;
  @media(max-width: 767px) {
    padding-top: 36px;
  }
}

.open-until {
  text-align: left;
  vertical-align: middle;
  top:43%;
  padding: 0px !important;
  font-size: 14px;
  @media(max-width: 991px) {
    font-size: 12px;
  }
  @media(max-width: 767px) {
    font-size: 10px;
  }
}