
.carticon-wrapper {
  padding-top: 30% !important;
}

.carticon-wrapper:hover {
  cursor: pointer;
}

.cart-item-number {
  font-size: 14px;
  color: #999;
  font-weight: 600;
  margin-top: 28%;
  padding-left: 30%;
  width: 30px;
  height: 22px;
  background-color: #E5E5E5;
}