@import './font.less';
@import './adjust.less';
@import './banner.less';
@import './depts.less';
@import './sigin.less';
@import './searchBar.less';
@import './suggestions.less';
@import './stars.less';
@import './carticon.less';


li {
  padding-left: 10px;
  height: 30px;
  vertical-align: 50%;
  list-style-type: none;
}

ul div ul {
  list-style-type: none;
}

.scrollbar {
  height: 480px;
  overflow-y: scroll;
}



