.usericon-wrapper {
  padding-top: 5%;
  padding-left: 28px;
  padding-right: 3px;
}

.user-cart {
  padding-top: 23%;
  padding-bottom: 23%;
}


.signin-wrapper {
  padding-top: 5% !important;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.0rem;
  border-right: #E5E5E5;
  border-right-style: solid;
  border-right-width: 1px;
}

.signin-font {
  color: #0471AF;
  font-weight: 600;
}

.signin-font:hover {
  cursor: pointer;
  color: rgb(6, 72, 110);
}
