@font-face {
  font-family: 'lowes-icon';
  src: url('./lowes-icons.woff') format('woff');
}

@font-face {
  font-family: 'lowes-font';
  src: url('./din-next.woff') format('woff');
}

.lowes-font {
  font-family: 'lowes-font';
}

.lowes-icon {
  font-family: 'lowes-icon';
}

.star::after {
  font-family: 'lowes';
  content: "\ECE2\ECE2";
}

.moveleft {
  align-content: center;
  padding-left: 40px
}

.hamburger {
  display: inline-block;
  height: 1rem;
  vertical-align: top;
  position: absolute;
  font-size: 1.7142857142857142rem;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0;
  padding-left: 10px;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-align: -webkit-match-parent;
}

.flyouts {
  width: 100%;
  height: 0px;
}

.department {
  display: inline-block !important;
  padding-top: 23.5px;
  padding-bottom: 23.5px;
  padding-right: 20px;
  padding-left: 10px;
  text-decoration: none !important;
  color: #fff !important;
  font-size: 1.2857142857142858rem !important;
  font-weight: 400 !important;
  cursor: pointer;
  line-height: 1em;
  vertical-align: top;
  width: 0;
  overflow: visible;
  transition: all .3s ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  text-align: -webkit-match-parent !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  width: 100% !important;
}



.drop-down-arrow-icon-wrapper {
  width: 100%;
  height: 100%;
}

.drop-down-arrow-icon {
  font-size: 1em;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  vertical-align: top;
  position: absolute;
  top: 38%;
  right: 6%;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.drop-down-arrow-icon:hover {
  transform: rotate(180deg);
}

.head {
  padding-top: 10px;
}

.v-spacing-small {
  margin-bottom: 10px !important;
}

header {
  height: 163.578px;
}

.banner {
  height: 88.578px;
}

.column-adjust{
  padding-left: 10px !important;
  padding-right: 10px !important;
  
}



.row-adjust {
  height: 100%;
  width: 100%;
  margin: 0;
}

.grid-container {
  width: 100%;
  height: 65px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 98.5px;
  margin-right: 98.5px;
  grid-template-columns: auto auto;
}

.navbar {
  padding: 0px;
  background-color: #0471AF;
}

.search-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.form-group-adjust {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.search-input {
  font-size: 1rem;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 11.2px;
  margin: 0px;
  border: 1px;
}

.search-icon-wrapper {
  width: 44px;
  height: 100%;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: white;
}

.search-icon {
  color: #0471af;
  font-size: 24px;
}

li {
  padding-left: 10px;
  height: 30px;
  vertical-align: 50%;
}
/* 
ul .dropdown-submenu-list {
  position: relative;
  top: -17px;
  left: 50%;
  padding: 0px;
  margin: 0px;
} */

ul .dropdown-submenu-list li {
  padding: 0%;
  margin: 0%;
}

ul div ul {
  list-style-type: none;
}

ul div ul .dropdown-submenu:hover .dropdown-submenu-list {
  display: inline-block;
  width: 100% !important;
}

li .dropdown-submenu-list {
  text-align: left;
  display: none;
}

div .dropdown-submenu-list {
  position: relative !important;
  left: 100%;
  top: -10%;
  width: 100%;
  z-index: 0;
}

input:focus {
  outline-offset: 0;
}

:focus {
  outline: #fff;
}

.dept {
  z-index: -1;
}

.logo {
  padding: 7px;
}

.open-until {
  text-align: left;
  vertical-align: middle;
  top:43%;
  padding: 0px !important;
  font-size: 14px;

}

.suggestion {
  width: 100% !important;
  height: 90% !important;
}

div .col-3 .search-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

li .search-item {
  padding: 0px;
}

.liner {
  padding: 0px !important;
  
}

.product-suggestion {
  border-bottom: #E5E5E5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 5px;
}

.padding-adjust {
  padding-right: 30px;
  padding-bottom: 20px;
  border-left: #E5E5E5;
  border-left-style: solid;
  border-left-width: 1px;
}

.row-suggestion {
  
  height: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}